[Desktop Entry]
Version=1.0
Name=Ethanexo Core
Comment=Ethanexo P2P Cryptocurrency
Comment[de]=Verbinde mit dem Ethanexo peer-to-peer Netzwerk
Comment[fr]=Ethanexo, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Ethanexo, eşten eşe kriptografik sanal para birimi
Exec=ethanexo-qt %u
Terminal=false
Type=Application
Icon=ethanexo128
MimeType=x-scheme-handler/ethanexo;
Categories=Office;Finance;P2P;Network;Qt;
StartupWMClass=ethanexo-qt
